@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
}

:root {
    --primary-text-color: #fff;
    --secondary-text-color: #ccc;
    --highlight-color: #00FF00;
    --border-color: #888;
}

html {
    scroll-behavior: smooth;
    font-weight: lighter;
    font-size: 20px;
}

body {
    width: 100%;
    height: 100vh;
    background: url(Images/subtle-black.png) no-repeat center fixed;
    background-color: black;
    background-size: cover;
    background-position: center;
    letter-spacing: 1px;
}

section {
    min-height: 100vh;
    /* padding-top: 100px; */
}

.section-header {
    font-size: 3.5em;
    display: table-cell;
    width: 100vw;
    height: 2em;
    text-align: center;
    vertical-align: bottom;
}

.title {
    color: var(--primary-text-color)
}

/* -- Header ------------------------------------------------------------------------ */

header {
    margin: auto;
    /* padding: 25px 15px; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    font-size: 16px;
}

nav {
    position: fixed;
    padding-top: 3.5em;
}

.nav-logos {
    width: 25px;
    transform: translateY(5px);
}

header ul li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    position: relative;
}

header ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--primary-text-color);
}

header ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: var(--highlight-color);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

header ul li:hover::after {
    width: 100%;
}

.menu {
    display: none;
    padding: 10px 20px 20px 20px;
    background: transparent;
    transform: translateX(-20px);
    position: fixed;
    z-index: 999;
}

.menu-button {
    color: var(--primary-text-color);
    font-size: 1.6em;
    cursor: pointer;
    transform: rotate(90deg);
}

.sidebar {
    position: absolute;
    top: 0;
    right: 0;
    height: 110vh;
    width: 100vw;
    z-index: 500;
    background: #1f394e;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 40px;
    animation: slide 0.5s ease-in-out;
}
.sidebar li, .sidebar div {
    transform: translateY(-10vh);
    animation: li_slide_in 1s ease-in-out;
}

.sidebar-icons img {
    display: flex;
    width: 45px;
    transform: translateY(3em);
    animation: img_slide_in 1s ease-in-out;
}

@keyframes slide {
    0% {
        width: 0vw;
    }
    100% {
        width: 100vw;
    }
}

@keyframes li_slide_in {
    0% {
        transform: translateY(-10vh);
        transform: translateX(100vw);
    }
    100% {
        transform: translateY(-10vh);
    }
}

@keyframes img_slide_in {
    0% {
        transform: translateY(3em);
        transform: translateX(100vw);
    }
    100% {
        transform: translateY(3em);
    }
}

/* -- About Section ------------------------------------------------------------------------ */

#about-section {
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}

.intro {
    width: 100%;
    text-align: center;
    color: var(--primary-text-color);
}

#about-section h1 {
    font-size: 8vw;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin: auto;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(1000), cursor 0s step-end infinite alternate;
}

#about-section p {
    width: 60%;
    font-size: 25px; 
    color: var(--primary-text-color); 
    word-spacing: 1px;  
    letter-spacing: 2px;
    text-transform: uppercase; 
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    overflow: hidden;;
    animation: appear 3s ease;
    position: relative;
    z-index: -1;
}

.mouse {
    position: relative;
    height: 100px;
    transform: translateY(25vh);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    z-index: -1;
    animation: appear 3s ease;
}

.mouse-scroll {
    width: 2.1em;
    height: 4em;
    border: solid 2px var(--highlight-color);
    border-radius: 30px;
    position: relative;
}

.mouse-scroll::before {
    content: '';
    width: 0.4em;
    height: 0.4em;
    border-radius: 50%;
    background: var(--secondary-text-color);
    position: absolute;
    /* left: 50%; */
    transform: translateX(-50%);
    animation: 3s ease infinite scroll-indicator;
}

@keyframes typing {
    from { width: 0 }
}

@keyframes appear {
    0% { 
        opacity: 0; 
    }
    50% {
        opacity: 0; 
        transform: translateY(30px) scale(0.9);
    }
    100% { opacity: 1; }
}

@keyframes scroll-indicator {
    0% {
        margin-top: 50px;
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        margin-top: 2px;
        opacity: 0;
    }
} 

/* -- Experience Section ------------------------------------------------------------------------ */

#experience-section {
    color: var(--primary-text-color);
    
}

.experience-content {
    padding-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.job {
    width: 60vw;
    max-width: 80vw;
    margin-top: 2rem;
    border-bottom: 1px solid var(--border-color);
    cursor: pointer;
    padding: 0 25px 1rem 25px;
}

.job-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.job-header-section2 {
    display: flex;
    align-items: center;
    justify-content: start;
}

.job-logo {
    width: 100px;
    padding: 10px 30px 10px 0px;
    filter: drop-shadow(0 0 1rem var(--primary-text-color));
    z-index: -1;
}

.job-header h3 {
    font-size: 40px;
}

.job-details {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
    padding-right: 20px
}

.job-description {
    padding-top: 1rem;
    line-height: 25px;
}

.job-date {
    font-size: 16px;
    text-align: end;
    font-style: italic;
    color: var(--secondary-text-color);
    padding-top: 10px;
}

.job.active .job-details {
    max-height: 300px;
    animation: fade 1s ease-in-out;
}

.job.active svg {
    transform: rotate(180deg);
}

svg {
    transition: transform 0.5s ease-in;
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* -- Education Section ------------------------------------------------------------------------ */
#education-section {
    color: var(--primary-text-color);
}

.education {
    margin: 0 auto;
    padding-top: 15vh;
    display: grid;
    align-items: center;
    justify-content: center;
}

.university, .divider {
    margin-bottom: 3em;
}

.university #CSU-global, .university #MSOE {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px;
}

.education-image {
    width: 125px;
    padding: 10px 20px 10px 0px;
    filter: drop-shadow(0 0 1rem var(--primary-text-color));
    z-index: -1;
}

.university-name {
    font-size: xx-large;
    margin-bottom: 0.5em;
}

.degree {
    font-size: x-large;
}

.education-date {
    font-style: italic;
    color: var(--secondary-text-color);
}

.university div p {
    margin-bottom: 0.2em;
}

.course-work {
    line-height: 25px;
    padding-left: 10px;
}

.course-work-title {
    font-weight: bold;
}

.course-work-description {
    padding: 5px 0px 10px 50px;
    line-height: 25px;
}

.divider {
    position: relative;
    width: 60vw;
    max-width: 80vw;
    height: 1px;
    background: var(--border-color);
    z-index: -1;
}

/* -- Connect Section ------------------------------------------------------------------------ */

#connect-section {
    color: var(--primary-text-color);
    box-sizing: border-box;
}

.contact-container {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    gap: 2.5vw;
    padding: 15vh 15vw 0 15vw;
}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.form-header {
    color: var(--secondary-text-color);
    font-size: 16px;
    padding-bottom: 10px;
}

.contact-inputs {
    width: 40vw;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 0.5vh;
    font-size: 16px;
}

.contact-left textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 6px;
    font-size: 16px;
}

.contact-inputs:focus {
    border: 1px solid var(--highlight-color);
}

.contact-inputs::placeholder {
    color: var(--secondary-text-color);
    font-size: 16px;
}

.contact-left button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    color: var(--primary-text-color);
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #0f8202, #42a341);
    cursor: pointer;
    font-size: 16px;
}

.contact-left button img {
    height: 15px;
}

.contact-right {
    width: 40vw;
}

.breakdown {
    padding-bottom: 30px;
    line-height: 25px;
}

.contact-header {
    color: var(--secondary-text-color);
    padding-bottom: 10px;
}

.contact-email {
    padding-bottom: 25px;
}

.contact-email a {
    color: var(--highlight-color)
}

.contact-right img {
    width: 50px;
    padding-right: 15px;
}

/* -- Footer Section ------------------------------------------------------------------------ */

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: inline-flex;
    align-items: end;
    justify-content: start;
    background-color: transparent;
    border: 2px solid var(--border-color);
    padding: 0.1em;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: 0.2s ease-out;
    z-index: -1;
}
.back-to-top p {
    color: var(--border-color);
    font-size: 2.5rem;
    transition: 0.2s ease-out;
}

.back-to-top p:hover {
    transform: translateY(-4px);
}

footer {
    margin: 0;
    bottom: 0;
    background-color: #222222;
    height: 40px;
}

#copyrights {
    display: flex;
    align-items: end;
    justify-content: center;
    color: var(--primary-text-color);
    font-size: 11px;
    font-weight: 100;
    padding-top: 13px;
}

/* -- @media Section ------------------------------------------------------------------------ */

@media screen and (max-width: 1150px) {

    html {
        font-size: 15px;
    }

    /* -- About Section -------------- */
    
    #about-section p {
        width: 60%;
        font-size: 18px;
        line-height: 20px;
    }

    /* -- Experience Section -------------- */

    .job {
        width: 80vw;
        /* padding-right: 15vw;
        padding-left: 15vw; */
    }

    .job-logo {
        width: 75px;
    }

    .job-header h3 {
        font-size: 25px;
    }

    .job-description {
        line-height: 20px;
    }

    /* -- Education Section -------------- */

    .education {
        padding-right: 5vw;
        padding-left: 5vw;
    }

    .education-image {
        width: 75px;
    }

    .university-name {
        font-size: 25px;
    }

    .degree {
        font-size: 18px;
    }

    .course-work {
        line-height: 20px;;
    }

    .course-work-description {
        line-height: 20px;
    }
    
    /* -- Connect Section -------------- */

    .contact-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 50px;
        padding: 5vh 15vw 0 15vw;
    }

    .contact-left {
        padding-bottom: 100px;
    }

    .contact-right {
        width: 80vw;
    }

    .contact-inputs {
        width: 80vw;
        padding-left: 0;
    }

    .breakdown, .contact-email, .contact-header {
        font-size: 20px;
    }

    .socials {
        display: flex;
        gap: 100px;
    }

    .back-to-top {
        z-index: 1;
    }

    footer {
        z-index: -1;
        transform: translateY(10vh);
    }
}

@media screen and (max-width: 650px) {

    body {
        background: url(Images/subtle-black.png) no-repeat center fixed;
        background-size: cover;
        background-position: center;
    }

    .mouse {
        transform: translateY(15vh);
    }

    .section-header {
        font-size: 2.5em;;
    }

    .hideOnMobile {
        display: none;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: end;
    }
    
    nav {
        padding-right: 3em;
    }

    header ul li:hover::after {
        width: 0%;
    }

    .menu {
        display: flex;
    }

    .menu-button {
        display: flex;
        transition: 0.5s ease-in;
    }

    .menu.active .menu-button {
        transform: rotate(270deg);
    }

    /* -- Experience Section -------------- */

    .job {
        width: 80vw;
    }

    .job-logo {
        width: 75px;
        padding: 10px 20px 10px 0px;
    }

    .job-header h3 {
        font-size: 20px;
    }

    .job-header h2 {
        font-size: 16px;
    }

    .job-description {
        line-height: 20px;
    }
    
    /* -- Education Section -------------- */

    .education {
        padding: 5vh 3vw 0 3vw;
    }

    .education-image {
        width: 75px;
    }

    .university-name {
        font-size: 20px;
        margin-bottom: 0.2em;
    }

    .degree {
        font-size: 15px;
    }

    .course-work {
        line-height: 15px;
    }

    .course-work-description {
        line-height: 17px;
        padding: 5px 0px 10px 20px;
    }
    /* -- Connect Section -------------- */

    .socials {
        display: grid;
        gap: 0px;
    }

    .back-to-top {
        display: none;
    }
}