* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root {
    --primary-text-color: #fff;
    --secondary-text-color: #ccc;
    --highlight-color: #00FF00;
    --border-color: #888;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background: url(Images/black-lines.jpg) no-repeat center fixed;
    background-color: black;
    background-size: cover;
    background-position: center;
    letter-spacing: 1px;
}

section {
    min-height: 100vh;
    padding-top: 100px;
}

/* -- Header ------------------------------------------------------------------------ */

header {
    width: 85%;
    margin: auto;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
}

.nav-logos {
    width: 25px;
}

header ul li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    position: relative;
}

header ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--primary-text-color);
}

header .nav-links li::after {
    content: '';
    height: 3px;
    width: 0;
    background: var(--highlight-color);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

header .nav-links li:hover::after {
    width: 100%;
}

/* -- About Section ------------------------------------------------------------------------ */

#about-section {
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
}

.intro {
    width: 100%;
    top: 30%;
    position: absolute;
    text-align: center;
    color: var(--primary-text-color);
}
#about-section h1 {
    font-size: 8vw;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    margin: auto;
}

#about-section p {
    margin-top: 5px;
    font-size: 20px; 
    color: var(--primary-text-color); 
    word-spacing: 1px; 
    font-weight: 200; 
    letter-spacing: 4px;
    text-transform: uppercase; 
    font-weight: 500;
    align-items: center;
  }

#about-section p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    width: 60%;
}

.mouse {
    width: 100px;
    height: 100px;
    transform: translateY(20vh);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.mouse-scroll {
    width: 2.1em;
    height: 4em;
    border: solid 2px var(--highlight-color);
    border-radius: 30px;
    position: relative;
}

.mouse-scroll::before {
    content: '';
    width: 0.4em;
    height: 0.4em;
    border-radius: 50%;
    background: var(--secondary-text-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation: 3s ease infinite scroll-indicator;
}

@keyframes scroll-indicator {
    0% {
        margin-top: 50px;
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        margin-top: 2px;
        opacity: 0;
    }
}

/* -- Experience Section ------------------------------------------------------------------------ */

#experience-section {
    color: var(--primary-text-color);
}

.section-header {
    margin: 0.3em;
    font-size: 3em;
}

.company {
    margin-bottom: 0.5em;
    font-size: x-large;

}

.job{
    margin-bottom: 0.5em;
}

.content-header img {
    width: 100px;
    padding: 10px 30px 20px 0px;
}

.job-date {
    text-align: end;
    font-style: italic;
    color: var(--secondary-text-color);
}

.title {
    text-align: center;
}

.timeline {
    margin: 5em auto;
    max-width: 40em;
}

.checkpoint {
    max-width: 34em;
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
}

.checkpoint .content {
    border: 2px solid var(--border-color);
    border-radius: 1em;
    padding: 1.5em;
    line-height: 25px;
    font-weight: lighter;
}

.content-header {
    display: flex;
    align-items: center;
    justify-content: start;
}

.checkpoint .description {
    color: var(--primary-text-color);
    padding-bottom: 10px;
}

.center-line {
    position: absolute;
    height: 1500px;
    width: 3px;
    background: var(--border-color);
    left: 49.9%;
    transform: translate(-50%, 8%);
}

.checkpoint:nth-child(odd) {
    padding-right: 3em;
    transform: translateX(-17.2em);
}

.checkpoint:nth-child(even) {
    padding-left: 3em;
    transform: translateX(20em);
}

.checkpoint:nth-child(even)::before, .checkpoint:nth-child(odd)::before {
    content: '';
    background: var(--border-color);
    width: 3em;
    height: 3px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.checkpoint:nth-child(odd)::before {
    right: 0;
}

.checkpoint:nth-child(even)::before {
    left: 0;
}

.checkpoint:nth-child(even) div::before, .checkpoint:nth-child(odd) div::before {
    content: '';
    background: var(--primary-text-color);
    /* box-shadow: 0 0 0.5em #0d71fc; */
    box-shadow: 0 0 0.25em var(--highlight-color);
    width: 0.8em;
    height: 0.8em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}

.checkpoint:nth-child(odd) div::before {
    right: -0.5em;   
}

.checkpoint:nth-child(even) div::before {
    left: -0.5em;
}

/* -- Education Section ------------------------------------------------------------------------ */
#education-section {
    color: var(--primary-text-color);
}

.education {
    margin: 5em auto;
    padding-top: 100px;
    max-width: 80em;
    display: grid;
    align-items: center;
    justify-content: center;
}

.university, .divider {
    margin-bottom: 3em;
}

.university #CSU-global, .university #MSOE {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px;
}

.education-image {
    width: 125px;
    padding: 10px 20px 10px 0px;
}

.university-name {
    font-size: xx-large;
    margin-bottom: 0.5em;
}

.degree {
    font-size: x-large;
}

.education-date {
    font-style: italic;
    color: var(--secondary-text-color);
}

.university div p {
    margin-bottom: 0.2em;
}

.course-work {
    line-height: 20px;
    padding-left: 10px;
}

.course-work-title {
    font-weight: bold;
}

.course-work-description {
    padding: 5px 0px 10px 50px;
    line-height: 20px;
    font-weight: lighter;
}


.divider {
    position: relative;
    width: 600px;
    height: 1px;
    background: var(--border-color);
}

/* -- Footer Section ------------------------------------------------------------------------ */

footer div {
    margin: 0;
    bottom: 0;
    background-color: #222222;
    height: 40px;
}

#copyrights {
    display: flex;
    align-items: end;
    justify-content: center;
    color: var(--primary-text-color);
    font-size: 11px;
    font-weight: 100;
    padding-top: 14px;
}

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: inline-flex;
    align-items: end;
    justify-content: start;
    background-color: transparent;
    border: 2px solid var(--border-color);
    padding: 0.1em;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: 0.2s ease-out;
}
.back-to-top p {
    color: var(--border-color);
    font-size: 2.5rem;
    transition: 0.2s ease-out;
}

.back-to-top p:hover {
    transform: translateY(-4px);
}

/* -- @media Section ------------------------------------------------------------------------ */

@media screen and (max-width: 1150px) {
    .timeline {
        width: 80vw;
    }

    .timeline .checkpoint {
        width: 100%;
        transform: none;
        left: 3em;
        padding-left: 0;
        padding-right: 0;
        border: none;
    }
    
    .timeline .checkpoint::before {
        width: 3px;
        height: 4em;
        top: -2em;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .timeline .checkpoint  div::before {
        top: -0.5em;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .center-line {
        background: transparent;
    }
}
