@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500&family=Quicksand:wght@300..700&display=swap');

:root {
  --header-height: 3.5rem;
  /* Colors */
  --primary-font-color: #2A2D34;
  --secondary-font-color: gray;
  --header-color: #cecece;
  --background-color: #e7e7e7;
  /* Fonts */
  --body-font: "Quicksand", sans-serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: 1rem;
  /* Font weight */
  --font-medium: 500;
  /* Z-index */
  --z-tooltip: 10;
  --z-fixed: 100;
}

* {
  padding: 0;
  margin: 0; 
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--background-color);
  letter-spacing: 1px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

section {
  min-height: 100vh;
  width: 70em;
}

.section_title {
  font-size: 75px;
  font-weight: 100;
}

/* ==================================== Header ==================================== */
.bc-logo {
  width: 40px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--header-color);
  z-index: var(--z-fixed);
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_logo {
  font-weight: var(--font-medium);
}

.nav_close, .nav_toggle {
  display: flex;
  color: var(--primary-font-color);
  font-size: 1.5rem;
  cursor: pointer;
}
.nav_list, .nav_social {
  display: flex;
}

.nav_list {
  flex-direction: column;
  row-gap: 3rem;
}

.nav_link {
  position: relative;
  color: var(--primary-font-color);
  font-size: var(--h1-font-size);
  font-weight: var(--font-medium);
  display: inline-flex;
  align-items: center;
  transition: opacity 0.4s;
}

.nav_link i {
  font-size: 2rem;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s visibility 0.4s;
}

.nav_link span {
  position: relative;
  transition: margin 0.4s;
}

.nav_link span::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background-color: var(--primary-font-color);
  transition: width 0.4s ease-out
}

/* Animation link on hover */
.nav_link:hover span {
  margin-left: 2.5rem; 
}

.nav_link:hover i {
  opacity: 1;
  visibility: visible;
}

.nav_link:hover span::after {
  width: 100%;
}

.nav_list:has(.nav_link:hover) .nav_link:not(:hover) {
  opacity: 0.4;
}

.nav_close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.nav_social {
  column-gap: 1rem;
}

.nav_social-link {
  color: var(--primary-font-color);
  font-size: 1.5rem;
  transition: transform 0.4s;
}

.nav_social-link:hover {
  transform: translateY(-.25rem);
} 

/* ==================================== About Section ==================================== */

#about_section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about_logo {
  opacity: 0.1;
  width: 500px;
  position: absolute;
  transform: translateY(-90px);
  animation: logo_appear 4.5s ease-out;
}

.name_container {
  display: inline-block;
}

.name {
  font-size: 6em;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 10px;
  transform: translateY(60px);
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.info {
  position: relative;
  font-size: 2em;
  font-weight: 200;
  height: 40px;
  text-align: center;
  transform: translateY(70px);
}

#me {
  animation: slide_in_me 2s ease-in;
}
#ai {
  animation: slide_in_ai 2.2s ease-in;
}
#student {
  animation: slide_in_student 2.4s ease-in;
}

.scrolldown {
  position: absolute;
  bottom: 100px;
  left: 50%;
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
}

.scrolldown span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid var(--primary-font-color);
  border-right: 2px solid var(--primary-font-color);
  animation: scroll 1.5s linear infinite;
  opacity: 0;
}

.scrolldown span:nth-child(1) {
  transform: translate(-15px, -15px);
  animation-delay: -0.4s;
}
.scrolldown span:nth-child(2) {
  transform: translate(0, 0);
  animation-delay: -0.2s;
}
.scrolldown span:nth-child(3) {
  transform: translate(15px, 15px);
  animation-delay: 0s;
}

@keyframes logo_appear {
  0% { 
    opacity: 0; 
  }
  70% {
    opacity: 0; 
    transform: translateY(30px) scale(0.9);
  }
  100% { 
    opacity: 0.1; 
  }
}

@keyframes slide_in_me {
  0% {
    transform: translateX(-100vw) translateY(70px);
  }
  90% {
    transform: translateX(-100vw) translateY(70px);
  }
  100% {
    transform: translateY(70px);
  }
}
@keyframes slide_in_ai {
  0% {
    transform: translateX(-100vw) translateY(70px);
  }
  90% {
    transform: translateX(-100vw) translateY(70px);
  }
  100% {
    transform: translateY(70px);
  }
}
@keyframes slide_in_student {
  0% {
    transform: translateX(-100vw) translateY(70px);
  }
  90% {
    transform: translateX(-100vw) translateY(70px);
  }
  100% {
    transform: translateY(70px);
  }
}


@keyframes scroll {
  0% {
    top: -5px;
    left: -5px;
    opacity: 0;
  }
  25% {
    top: 0px;
    left: 0px;
    opacity: 1;
  }
  50%,100% {
    top: 5px;
    left: 5px;
    opacity: 0;
  }
}

/* ==================================== Experience Section ==================================== */

#experience_section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column ;
  overflow: hidden;
  gap: 50px;
}

.flip_cards {
  display: flex;
  gap: 5rem
}

.card_container {
  width: 30em;
  height: 30em;
  perspective: 900px;
}

.card_container:hover > .card {
    cursor: pointer;
    transform: rotateY(180deg);
  }

.card {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
  color: var(--primary-font-color);
}

.front, .back {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  position: absolute;
  backface-visibility: hidden;
}

.front {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #e5e5e5;
}

.job_logo {
  width: 90%;
  opacity: 0.15;
  position: relative;
}

.job_info {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.company {
  font-size: 50px;
  padding-bottom: 10px;
}

.job_title {
  font-size: 30px;
  padding-bottom: 5px;
}

.back {
  background-color: #e5e5e5;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
  font-size: 25px;
  line-height: 40px;
}

/* ==================================== Education ==================================== */

#education_section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  overflow: hidden;
  gap: 100px;
}

.left_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
  transform: translateY(-50px);
}

#education_title {
  font-size: 65px;
}

.university_logos{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  filter: drop-shadow(0 0 0.3rem black);
  padding-right: 5px;
}

#csu-global_logo {
  width: 150px;
}

#msoe_logo {
  width: 120px
}

.education_containter {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  font-size: 20px;
}

.university-name {
  font-size: 30px;
  font-weight: 450;
  margin-bottom: 0.2em;
}

.education-date {
  font-style: italic;
  font-size: 15px;
  padding-bottom: 15px;
}

.university div p {
  margin-bottom: 0.2em;
}

.course-work {
  line-height: 22px;
}

.course-work-title {
  font-size: 18px;
}

.course-work-description {
  font-size: 18px;
  padding: 5px 0px 10px 50px;
}

.divider {
  width: 650px;
  height: 1px;
  background: gray;

}

/* ==================================== Connect ==================================== */

#connect_section {
  color: var(--primary-text-color);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.contact-container {
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  gap: 50px;
  padding: 50px 15vw 0 15vw;
}

.contact-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.form-header {
  color: var(--secondary-text-color);
  font-size: 16px;
  padding-bottom: 10px;
}

.contact-inputs {
  width: 40vw;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: #666;
  border-radius: 0.5vh;
  font-size: 16px;
}

.contact-left textarea {
  height: 140px;
  padding-top: 15px;
  border-radius: 6px;
  font-size: 16px;
}

.contact-inputs:focus {
  border: 1px solid var(--highlight-color);
}

.contact-inputs::placeholder {
  color: var(--secondary-text-color);
  font-size: 16px;
}

.contact-left button {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  color: white;
  gap: 10px;
  border: none;
  border-radius: 50px;
  background: #4c6273;
  filter: drop-shadow(0 0 0.1rem var(--primary-text-color));
  cursor: pointer;
  font-size: 16px;
  z-index: -1;
}

.contact-left button img {
  height: 15px;
}

.contact-right {
  width: 40vw;
}

.breakdown {
  padding-bottom: 30px;
  line-height: 25px;
}

.contact-header {
  color: var(--secondary-text-color);
  padding-bottom: 10px;
}

.contact-email {
  padding-bottom: 25px;
}

.contact-email a {
  color: var(--primary-font-color);
  text-decoration: underline;
  transition: transform 0.4s;
}

.contact-email a:hover {
  color: blue;
}

.connect_social {
  display: flex;
  gap: 20px;
}

.connect_social-link {
  color: var(--primary-font-color);
  font-size: 2rem;
  transition: transform 0.4s;
}

.connect_social-link:hover {
  transform: translateY(-8px);
} 

/* ==================================== Footer ==================================== */

footer {
  margin: 0;
  bottom: 0;
  background-color: var(--header-color);
  height: 40px;
}

#copyrights {
  display: flex;
  align-items: end;
  justify-content: center;
  color: var(--primary-font-color);
  font-size: 11px;
  font-weight: 100;
  padding-top: 13px;
}

/* ==================================== @media ==================================== */

/* For large devices */
@media screen and (min-width: 850px) {
  :root {
    --normal-font-size: 1rem;
  }

  .container {
    margin-inline: auto;
  }

  .bc-logo {
    width: 50px;
  }
  .nav {
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem;
  }

  .nav_toggle, .nav_close {
    display: none;
  }

  .nav_link {
    font-size: var(--normal-font-size);
  }

  .nav_link i {
    font-size: 1.5rem;
  }

  .nav_list {
    flex-direction: row;
    column-gap: 3.5rem;
  }

  .nav_menu {
    display: flex;
    align-items: center;
    column-gap: 3.5rem;
  }
}

/* Navigation for mobile devices */
@media screen and (max-width: 850px) {

  section {
    width: 95vw;
    min-height: 100vh;
  }

  .nav_menu {
    position: fixed;
    left: -100%;
    top: 0;
    background-color: var(--background-color);
    width: 100%;
    height: 100%;
    padding: 6rem 3.5rem 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: left 0.4s;
  }

  .nav_item {
    transform: translateX(-150px);
    visibility: hidden;
    transition: transform 0.4s ease-out, visibility 0.4s;
  }

  .nav_item:nth-child(1) {
    transition-delay: 0.1s;
  }
  .nav_item:nth-child(2) {
    transition-delay: 0.2s;
  }
  .nav_item:nth-child(3) {
    transition-delay: 0.3s;
  }
  .nav_item:nth-child(4) {
    transition-delay: 0.4s;
  }

  /* Show menu */
  .show-menu {
    left: 0;
  }

  /* Animation link when displaying menu */
  .show-menu .nav_item {
    visibility: visible;
    transform: translateX(0);
  }
  
  /* ============== About Section ============== */

  .intro {
    transform: translateY(-5vh);
  }

  .about_logo {
    width: 300px;
  }

  .name {
    font-size: 4.5em;
    width: 90%;
    display: block;
    word-wrap: normal;
  }

  .info {
    font-size: 1.5em;
    height: 30px;
  }

  .scrolldown {
    width: 20px;
    height: 20px;
    transform: translateY(60px) rotate(45deg);
  }

  .scrolldown span:nth-child(1) {
    transform: translate(-10px, -10px);
  }
  .scrolldown span:nth-child(2) {
    transform: translate(0, 0);
  }
  .scrolldown span:nth-child(3) {
    transform: translate(10px, 10px);
  }

  /* ============== Experience Section ============== */
  #experience_title {
    font-size: 2.5em;
    transform: translateY(30px);
  }
  .flip_cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
  }

  .card_container {
    width: 90vw;
    height: 70vw;
  }

  .job_logo {
    width: 80%;
  }
  
  .company {
    font-size: 28px;
  }

  .job_title {
    font-size: 20px;
  }

  .job_date {
    font-size: 12px;
  }

  .back {
    padding: 0 40px;
    font-size: 16px;
    line-height: 20px;
  }

  /* ============== Education Section ============== */
  #education_section {
    flex-direction: column;
  }

  #education_title {
    font-size: 2.5em;
  }

  .left_container {
    transform: translateY(55px);
    gap: 30px
  }

  .education_containter {
    gap: 20px;
    width: 95vw;
  }

  .university-name, .degree, .education-date, .divider {
    width: 100%;
    display: block;
    word-wrap: normal;
  }

  #csu-global_logo {
    width: 120px;
  }
  
  #msoe_logo {
    width: 90px;
  }

  .university-name {
    font-size: 20px;
  }

  .degree {
    font-size: 16px;
  }

  .education-date {
    font-size: 12px;
  }
  .course-work {
    line-height: 16px;
  }

  .course-work-title {
    font-size: 16px;
  }

  .course-work-description {
    font-size: 14px;
    padding: 5px 0px 10px 25px;
  }

  /* ============== Connect Section ============== */
  .contact-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 60px 0 20px 0;
    gap: 20px;
  }

  #connect_title {
    font-size: 2.5em;
    transform: translateY(70px);
  }

  .socials {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
  .contact-inputs, .contact-right {
    width: 95vw;
  }

  .breakdown, .contact-email, .contact-header {
    font-size: 16px;
  }

  footer {
    height: 30px;
  }

  #copyrights {
    padding-top: 7px;
  }
}